<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Joue ma musique sur Cosmos</string>
				<string>Joue mes favoris sur Cosmos</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INAddMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Ajoute cette chanson à mes favoris sur Cosmos</string>
				<string>Ajoute cette chanson à ma playlist sur Cosmos</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
